<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-clubs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Clubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-clubs-link">
                <a href="" class="dropdown-item">By Age</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Club</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Clubs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sports-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sports-link">
                <a href="" class="dropdown-item">GAA</a>
                <a href="" class="dropdown-item">Soccer</a>
                <a href="" class="dropdown-item">Rugby</a>
                <a href="" class="dropdown-item">Basketball</a>
                <a href="" class="dropdown-item">All Sports</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="arts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Arts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="arts-link">
                <a href="" class="dropdown-item">Art</a>
                <a href="" class="dropdown-item">Dancing</a>
                <a href="" class="dropdown-item">Acting</a>
                <a href="" class="dropdown-item">Musical Theatre</a>
                <a href="" class="dropdown-item">All Arts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="academic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Academic
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="academic-link">
                <a href="" class="dropdown-item">Chess</a>
                <a href="" class="dropdown-item">Science</a>
                <a href="" class="dropdown-item">Coding</a>
                <a href="" class="dropdown-item">Homework</a>
                <a href="" class="dropdown-item">All Academic</a>
            </div>
        </li>

    </ul>
</div>